Chapter[[:space:]]Problem[[:space:]]Sets/Ch[[:space:]]11[[:space:]]-[[:space:]]Significance[[:space:]]of[[:space:]]the[[:space:]]Derivative.pdf filter=lfs diff=lfs merge=lfs -text
Chapter[[:space:]]Problem[[:space:]]Sets/Ch[[:space:]]13[[:space:]]-[[:space:]]Integrals.pdf filter=lfs diff=lfs merge=lfs -text
Chapter[[:space:]]Problem[[:space:]]Sets/Ch[[:space:]]20[[:space:]]-[[:space:]]Approximation[[:space:]]by[[:space:]]Polynomial[[:space:]]Functions.pdf filter=lfs diff=lfs merge=lfs -text
